$background-color: #dcdcdc;
$text-color: #000000;
$text-hover-color: #0000ee;

.body {
  background-color: $background-color;
}

.text {
  color: $text-color;
  // background-color: burlywood;
  &:hover {
    color: $text-hover-color;
    text-decoration:underline;
    text-decoration-color:$text-hover-color;
  }
}