$text-color: black;
$text-hover-color: #0000ee;

.text {
  color: $text-color;
  // background-color: burlywood;
  &:hover {
    color: $text-hover-color;
    text-decoration:underline;
    text-decoration-color:$text-hover-color;
  }
}