$text-color: black;
$text-hover-color: #0000ee;

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: max-content 150px 1fr;
  height: 280px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  footer {
    align-self: end;
    justify-self: end;
  }
}

.link {
  color: $text-color;
  &:hover {
    color: $text-hover-color;
    text-decoration:underline;
    text-decoration-color:$text-hover-color;
  }
}